body {
    font-family: 'Montserrat', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.imp {
    padding-left:35px;     /* Largura da imagem possui 20px */
	padding-top:5px;       /* Só pra centralizar o texto verticalmente já que a altura da imagem é de 25px */;
	background-image:url(img/logos/lupa.png);
    background-repeat:no-repeat; 
    background-position: left;
    background-position-x: 10px;
}

body {
    background-color: #f8f8f8;
    font-family: 'Montserrat';
    font-size: 18px;
}

div.col.col-sm-6 a{
    text-decoration: none;
}

/* banner principal */
    .pointer {
        cursor: pointer;
    }

    div.main-banner {
    background-image: url(img/logos/fernet-lista-cadastrar.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 250px;
    }

    div.main-banner {
        width: 100%;
    }

/* quadrados abaixo do banner */

div.square {
    height: 211px;
    width: 330px;
    border-radius: 2px;
    box-shadow: 1px 1px 5px #d4d2d2;
    margin: 0px auto;
    text-align: center;
    border-bottom: 4px solid #00a574;
    background-color: #fff;
}

div.square img {
    padding-top: 30px;
    padding-bottom: 15px;
}

div.square  h2{
    color: #00a574;
}

div.square  p{
    color: #000;
}

/* div square 2 */

div.square2 {        
    height: 211px;
    width: 330px;
    margin: 0px auto;
    text-align: center;
    border-radius: 2px;
    box-shadow: 1px 1px 5px #d4d2d2;
    border-bottom: 4px solid #00a574;
    background-color: #fff;
}

div.square2  h2{
    color: #00a574;
}

div.square2  p{
    color: #000;
}


div.square2 img {   
    padding-top: 45px;
    padding-bottom: 17px;
}


h2.main-txt {
    margin: 30px auto;
    width: 100%;
    color: rgb(133, 131, 131);
}
.width-reduzido {
    max-width: 800px;
}


.banner2 {
    height: 400px;

}
/* ============================================== */
/* ============================================== */
/*                     INDEX2                     */
/* ============================================== */
/* ============================================== */
div.row.bread {
    width: 300px;
    margin: 0 auto;
}
div.row.bread a{
    margin: 20px auto;
    text-align: center;
    text-decoration: none;
    color: #858383;
    border-bottom: 2px solid #858383;
}

div.container ul  {
    display: flex;
    padding-left: 0;
}

div.container ul li {
    margin-right: 10px;    
}


/* ============================================== */
/* ============================================== */
/*                     INDEX333                     */
/* ============================================== */
/* ============================================== */
ul.index3    {
    flex-wrap: wrap;
    display: flex;
    /* border: 1px solid #000; */
    padding: 20px;
    padding-left: 20px;
    margin: 0 auto;
    width: 60%;

}

ul.index3 li {
    box-shadow: 1px 1px 5px #d4d2d2;
    width: 45%;
    height: 150px;
    margin: 20px;
    
}

ul.index3 p {
    line-height: 150px;
}


/* index4 */

ul.index4    {  
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid #000; */
    /* padding: 20px; */
    padding-left: 20px;
    margin: 0 auto;
    width: 60%;

}

ul.index4 li {
    box-shadow: 1px 1px 5px #d4d2d2;
    width: 28%;
    height: 70px;
    margin: 20px; 
      
}

ul.index4 p {
    line-height: 70px;
}

li.fernet1 {
  margin: 0 auto!important;
  width: 30%;
  text-align: center !important; 
  margin-left: 130px !important;
  
}

li.fernet2 {
    margin: 0 auto!important;
    width: 30%;
    text-align: center !important; 
    margin-right: 130px!important ;
    
  }

/* ============================================== */
/* ============================================== */
/*                      MOBILE                    */
/* ============================================== */
/* ============================================== */
@media only screen and (max-width: 900px) {
    /* banner principal MOBILE  */
    div.main-banner {
        background-image: url(img/logos/banner-mobile.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 415px;
        height: 285px;
    }
    
    img.main-banner {
        display: block;  
    }
    /* texto principal  */
    h2.main-txt {
        padding-top: 20px;
        padding-bottom: 20px;
        width: 100%;
        margin: 0 auto;
        color: rgb(133, 131, 131);
    }

/* quadrado verde com icone      */
    div.square {

        height: 193px;
        width: 290px;
        margin: 20px auto;
        text-align: center;
        border-radius: 2px;
        box-shadow: 1px 1px 5px #d4d2d2;
        border-bottom: 4px solid #00a574;
        background-color: #fff;
        
        
    }

    div.square  h2{
        color: #00a574;
    }

    div.square  p{
        color: #000;
    }


    div.square img {
        padding-top: 17px;
        display: unset;
    }

/* quadrado 2  */

    div.square2 {        
        height: 193px;
        width: 290px;
        margin: 0 auto;
        text-align: center;
        border-radius: 2px;
        box-shadow: 1px 1px 5px #d4d2d2;
        border-bottom: 4px solid #00a574;
        background-color: #fff;
        margin-bottom: 20px;
        padding-top: 20px;
    }

    div.square2  h2{
        color: #00a574;
    }

    div.square2  p{
        color: #000;
    }

    div.square2 img {
        padding-top: 17px;
        display: unset;
    }

    /*  index 2 */

    div.container ul  {
        display: flexbox;
        flex-wrap: wrap;
        padding-left: 0px;
        width: 100%;
    }
    
    div.container ul li {
        width: 45%;
        margin: 5px auto;
    }

    div.container ul > li > img{
        width: 100%;
    }

    div.row.bread {
        width: 255px;
        margin: 0 auto;
    }

    div.row.bread a{
        margin: 20px auto;
        padding: auto 10px;
        text-align: center;
        text-decoration: none;
        color: #858383;
        border-bottom: 2px solid #858383;
    }

    /* index3 */

    ul.index3    {
        width: 100%;
        display: flex;
        padding: 20px;
        padding-left: 24px;
        padding-right:0;
        
    }
    
    ul.index3 li   {
        padding-left: 20px;
        height: 95px;
     
    }

    ul.index3 p {
        line-height: 15px;
        padding-top: 30px;
        padding-right: 23px;
        font-size: 14px;
    }

    p.fim {
        padding-top: 42px !important;
        margin-bottom: 0;
    }

    /* index 4 */

    ul.index4    {
        width: 100%;
        display: flex;
        padding: 20px;
        padding-left: 24px;
        padding-right:0;
        flex-wrap: wrap;

    }
    
    ul.index4 li   {
        padding-left: 20px;
        height: 65px;
    }

    ul.index4 p {
        line-height: 0;
        padding-top: 35px;
        padding-right: 23px;
        font-size: 14px
    }

    li.fernet1 {
        margin: 5px auto!important;
        width: 30%;
        text-align: center;         
      }
      
      li.fernet2 {
          margin: 5px auto!important;
          width: 30%;
          text-align: center;                    
        }
}