div.col.col-sm-8 h2 {
  color: #11b58b;
}

.foto-logo {
  width: 220px;
  height: 220px;
  margin: 0 auto;
  margin-bottom: 20px;
  background-image: url(../img/banners/banner-casamento-small.png);
  background-repeat: no-repeat;
  text-align: center;
  background-position: center;
  background-size: 100%;
}

.bg-gray {
  color:#8d8d8d;
}

body {
  background-color: #ededed;
  font-family: "Montserrat", sans-serif;
}

h2, .h2 {
  font-size: 20px;
  padding-top: 0px;
  padding-bottom: 20px;
}

/* h2 visualizar lista */
div.col:nth-child(2) > h2:nth-child(1) {
  padding-top: unset;
}

div.wedding-rings {
  display: block;
  margin: 0 auto;
  text-align: center;
}
div.wedding-rings h2 {
  padding-left: 10px;
  padding-top: 25px;
  font-weight: bolder;
}

.width-reduzido {
  max-width: 1140px;
  background-color: #fff;
  padding-bottom: 20px;
  margin-bottom: 40px;
  margin-right: 100px;
}
.width-reduzido h2 {
  font-weight: 601;
  padding-top: 20px;
}

form.form-inline {
  margin: 9px auto;
  width: 100%;
  align-items: unset;
}
form.form-inline h2 {
  padding-left: 0;
}

.form-control {
  background-color: #ebebeb;
}

button.btn.btn-md.btn-success {
  display: block;
  margin: 0 auto;
  width: 90%;
  background-color: #11b58b;
  border: none;
  height: 50px;
  font-weight: 800;
}

.table {
  width: 75%;
}
.table td, .table th {
  /* vertical-align: top; */
  border-top: none;
  padding: 0;
}
.table thead th {
  border-bottom: none;
}

/* Element | http://127.0.0.1:5500/index.html */
div.col-xs-12 p {
  line-height: 35px;
}

span.teste1 {
  color: #9e232f;
  font-weight: 700;
  line-height: 50px;
  font-size: 25px;
}

span.teste2 {
  display: block;
  width: 102px;
  float: inline-end;
}

div.bdd.bd4 span.teste2 {
  margin-right: 15px;
}

div.bdd.bd5 span.teste2 {
  margin-right: 25px;
}

div.bdd.bd5 span.teste1 {
  margin-left: 25px;
}

.bdd {
  padding-top: 20px;
  padding-bottom: 10px;
}

.bd2 {
  border-right: 1px solid #c0bfbf;
  border-left: 1px solid #c0bfbf;
  padding: 0 30px;
  margin-top: 20px;
}

.bd3 {
  border-top: 1px solid #c0bfbf;
}

.bd > span:nth-child(2) {
  margin-right: 90px;
}

/* ============================================== */
/* =================== MOBILE =================== */
/* ============================================== */
@media only screen and (max-width: 900px) {
  body {
    background-color: #fff;
  }

  div.col.col-sm-9 h2 {
    color: #11b58b;
    text-align: center;
  }

  button.btn.btn-md.btn-success {
    display: block;
    margin: 0 auto;
    width: 62%;
    background-color: #11b58b;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 800;
  }

  div.wedding-rings {
    position: unset;
    display: block;
    text-align: center;
    margin: 20px auto;
  }
  div.wedding-rings h2 {
    display: none;
  }

  .width-reduzido {
    margin-right: 0;
  }
  .width-reduzido h2 {
    text-align: center;
  }

  .width-reduzido2 {
    max-width: 727px;
    border-radius: 5px;
  }

  .width-reduzido h2 {
    font-weight: 601;
    padding-left: 0;
    padding-top: 0;
  }

  form.form-inline {
    display: block;
  }
  form.form-inline p {
    margin: 0px;
    text-align: left;
    padding-bottom: 25px;
    padding-top: 25px;
  }

  .foto-logo {
    margin: 0 auto;
  }

  span.teste1 {
    float: none;
    margin-left: 24px;
  }

  span.teste2 {
    float: left;
  }

  .form-control {
    margin-top: 15px;
  }

  .bdd {
    border-top: 1px solid #c0bfbf;
  }

  .bd2 {
    border-right: none;
    border-left: none;
    padding: 20px 0;
    margin-top: 20px;
  }

  .bd3 {
    border: none;
  }

  div.bdd.bd4 span.teste2 {
    margin-right: 0px;
  }

  div.bdd.bd5 span.teste2 {
    margin-right: 0px;
  }

  div.bdd.bd5 span.teste1 {
    margin-left: 25px;
  }

  .bd > span:nth-child(2) {
    margin-right: 0px;
  }
}

/*# sourceMappingURL=style.css.map */
