$lightgray:#ededed; 
$btn-verde:#11b58b;
$grayer: #8d8d8d;;
$branco: #fff;
$border-gray: #c0bfbf;

// texto h2 do lado do logo do olho
div.col.col-sm-8 h2{
    color: $btn-verde;
}

.bg-gray {
    color: $grayer;
}
.foto-logo {
    width: 220px;
    height: 220px;
    margin: 0 auto;
    margin-bottom: 20px;
    background-image: url(../img/banners/banner-casamento-small.png);
    background-repeat: no-repeat;
    text-align: center;
    background-position: center;
    background-size: 100%;      
}

body {
    background-color: $lightgray;
    font-family: 'Montserrat', sans-serif;
}

h2, .h2 {
    font-size: 20px;
    padding-top: 0px;
    padding-bottom: 20px;
    
}
/* h2 visualizar lista */
div.col:nth-child(2) > h2:nth-child(1) {
     padding-top: unset;
}

div.wedding-rings {    
    display: block;
    margin: 0 auto;
    text-align: center;
    
    h2{ 
        padding-left: 10px;
        padding-top: 25px;
        font-weight: bolder;
     
    }
}

.width-reduzido {
    max-width: 1140px;
    background-color: $branco;
    padding-bottom: 20px;
    margin-bottom: 40px;
    margin-right: 100px;
    
    h2{
        font-weight: 601;
        padding-top: 20px;
    }
}

form.form-inline {
    margin: 9px auto;
    width: 100%;
    align-items: unset;

    h2 {
        padding-left: 0;
    }
}

.form-control {

    background-color: #ebebeb;
}

button.btn.btn-md.btn-success {
    display: block;
    margin: 0 auto;
    width: 90%;
    background-color: $btn-verde;    
    border: none;
    height: 50px;
    font-weight: 800;
}

.table {
    width: 75%;
    
    td,  th {
        /* vertical-align: top; */
        border-top: none; 
        padding: 0;
    }
    thead th {
     border-bottom: none; 
    }  
  }


/* Element | http://127.0.0.1:5500/index.html */

div.col-xs-12 p {
    line-height: 35px;
  }
  


span.teste1{
    color: #9e232f;
    font-weight: 700;
    line-height: 50px;
    font-size: 25px;
    
}

span.teste2{
    display: block;
    width: 102px;
    float: inline-end;
}


div.bdd.bd4 span.teste2 {
    margin-right: 15px;
   }

div.bdd.bd5 span.teste2 {
    margin-right: 25px;
}

div.bdd.bd5 span.teste1 {
    margin-left: 25px;
}
   

  .bdd {
      padding-top: 20px;
      padding-bottom: 10px;
  }

  .bd2 {
      border-right: 1px solid $border-gray;
      border-left: 1px solid $border-gray;
      padding: 0 30px;
      margin-top: 20px;
  }

  .bd3 {
      border-top: 1px solid $border-gray;
  }

  .bd > span:nth-child(2) {
    margin-right: 90px;
   }
   
/* ============================================== */
/* =================== MOBILE =================== */
/* ============================================== */
@media only screen and (max-width: 900px) {
    body {
        background-color: #fff;
    }
    
    div.col.col-sm-9 h2{
        color: $btn-verde;
        text-align: center;
    }


    button.btn.btn-md.btn-success {
        display: block;
        margin: 0 auto;
        width: 62%;
        background-color: $btn-verde;
        border: none;
        margin-top: 20px;
        margin-bottom: 20px;
        font-weight: 800;
    }

    div.wedding-rings {    
        position: unset;
        display: block;
        text-align: center;
        margin: 20px auto;
        
        h2  {
        display: none;    
        }
    }

    .width-reduzido {
        margin-right: 0;
        
        h2 {
            text-align: center;
        }
    }
    
    .width-reduzido2 {
        max-width: 727px;
        border-radius: 5px;        
    }

    .width-reduzido h2 {
        font-weight: 601;
        padding-left: 0; 
        padding-top: 0;

    }
    form.form-inline {
        display: block;
        
        p {
            margin: 0px;
            text-align: left;
            padding-bottom: 25px;
            padding-top: 25px;
        }
    }
       
    .foto-logo {
        margin: 0 auto;
    }

    span.teste1{
        float: none;
        margin-left: 24px;
    }
    
    span.teste2{
        float: left;
    }

    .form-control {
        margin-top: 15px;
    }

     .bdd {
         border-top: 1px solid $border-gray;
     }

     .bd2 {
        border-right: none;
        border-left: none;
        padding: 20px 0;
        margin-top: 20px;
    }

    .bd3 {
        border: none;
    }

    
    div.bdd.bd4 span.teste2 {
        margin-right: 0px;
    }

    div.bdd.bd5 span.teste2 {
        margin-right: 0px;
    }

    div.bdd.bd5 span.teste1 {
        margin-left: 25px;
    }
   
    .bd > span:nth-child(2) {
        margin-right: 0px;
       }
       
}