h2, .h2 {
    font-size: 20px;
}

/* banner principal */
label {
    float: left;
}

.pointer {
    cursor: pointer;
}

div.main-banner {
    background-image: url(../img/banners/banner-garrafa.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1366px;
    height: 439px;
}

div.wedding-rings {    
    position: absolute;
    display: flex;
    top: 77px;
    left: 565px;
}

div.wedding-rings h2{ 
    padding-left: 10px;
    padding-top: 14px;
    font-weight: 505.2;
}


div.square {
    background-color: #11b58b;
    height: 135px;
    width: 238px;
    top: 231px;
    position: absolute;
    left: 440px;
    text-align: center;
    
}

div.square img {
    height: 60px;
    padding-top: 17px;
}

div.square  h2{
    color: #fff;
}

div.square  p{
    color: #fff;
    margin-top: -9px;
    width: 241px;
    font-size: 14px;
}

/* div square 2 */

div.square2 {        
    background-color: #fff;
    border: 3px solid #11b58b;
    height: 135px;
    width: 238px;
    left: 703px;
    top: 231px;
    position: absolute;
    margin: 0 auto;
    text-align: center;
}

div.square2  h2{
    color: #000;
}

div.square2  p{
    color: #000;
    margin-top: -9px;
    width: 241px;
    font-size: 14px;
}

div.square2 img {
    height: 60px;
    padding-top: 17px;
}


p.main-txt {
    position: absolute;
    top: 141px;
    left: 448px;
    width: 500px;
    text-align: center;
}
.width-reduzido {
    max-width: 727px;
}

.width-reduzido h2{
    font-weight: 601;
}

input.form-control{
    box-shadow: rgb(163, 163, 163) 0px 0px 3px 0.1px;
    margin:10px auto;
    width: 100% !important;
}

form.form-inline {
    margin: 9px auto;
    width: 100%;
}

button.btn.btn-md.btn-success {
    text-align: center;
    width: 20%;
    background-color: #11b58b;
    border: none;
    margin-top: 20px;
}

.banner2 {
    background-image: url(../img/banners/banner34.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 113%;
    padding-top: 15px;    
    height: 250px;
}

/* ============================================== */
/* =================== MOBILE =================== */
/* ============================================== */
@media only screen and (max-width: 900px) {
    div.main-banner {
        background-image: url(../img/mobile/banner-garrafa-mobile.png);
        background-position: center -107px;
        background-repeat: no-repeat;
        background-size: cover;
        width: 1366px;
        height: 847px;
    }

    img.main-banner {
        display: block;  
    }

    form.form-inline {
        display: block;
        margin: 31px auto;

    }

    input.form-control {
        box-shadow: rgb(163, 163, 163) 0px 0px 3px 0.1px;
        margin:10px auto;
        width: 100%;
    }

    button.btn.btn-md.btn-success {
        text-align: center;
        width: 91%;
        background-color: #11b58b;
        margin: 0 auto;
        border: none;
    }

    label {
        float: left;
    }

    div.wedding-rings {    
        position: unset;
        display: block;
        text-align: center;
        margin: 20px auto;

    }
    /* quadrado verde com icone      */
    div.square {
        background-color: #11b58b;
        height: 151px;
        width: 250px;
        top: 231px;
        position: unset;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 20px;
        margin-top: 40px;
    }

    div.square  h2{
        color: #fff;
    }

    div.square  p{
        color: #fff;
    }


    div.square img {
        padding-top: 17px;
    }

    div.square2 {        
        background-color: #fff;
        border: 3px solid #11b58b;
        height: 151px;
        width: 250px;
        top: 231px;
        position: unset;
        margin: 0 auto;
        text-align: center;
    }

    div.square2  h2{
        color: #000;
    }

    div.square2  p{
        color: #000;
    }


    div.square2 img {
        padding-top: 17px;
    }

    p.main-txt {
        position: unset;
        display: block;
        top: 141px;
        left: 448px;
        width: 350px;
        margin: 0 auto;
        text-align: center;
    }

    .banner2 img{
        display: unset;
    }

    .banner2 {
        background-image: url(../img/mobile/banner2-mobile.png);
        background-position: right;
        background-repeat: no-repeat;
        background-size: 56%;
        padding-top: 35px;
        height: 146.7px;
    }

    .width-reduzido h2{
        top: 0;
        text-align: left !important;
        padding-left: 15px;
        font-size: 13pt;
    }

}