


.foto-logo {
    width: 150px;
    height: 150px;
    background-color: #ededed;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 2px dashed rgb(185, 185, 185);
    background-image: url(../img/logos/foto-logo.png);
    background-repeat: no-repeat;
    text-align: center;
    background-position: center;
    background-size: 50%;      
}


body {
    background-color: #ededed;
    font-family: 'Montserrat', sans-serif;
}

h2, .h2 {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

label {
    float: left;
}

.pointer {
    cursor: pointer;
}

div.wedding-rings {    
    display: block;
    margin: 0 auto;
    text-align: center;
}

div.wedding-rings h2{ 
    padding-left: 10px;
    padding-top: 25px;
    font-weight: bolder;
}

.width-reduzido {
    max-width: 727px;
    background-color: #fff;
    padding-bottom: 20px;
    margin-bottom: 40px;
}

.width-reduzido2 {
    max-width: 727px;
    
}

button.btn.btn-md.btn-danger {
    background-color: #dc702f;
    margin-top: 40px;
    margin-bottom: 40px;
    float: right;
    width: 20%;
    border: none;
    margin-right: -15px;
    font-weight: 800;
}

.width-reduzido h2{
    font-weight: 601;
    text-align: left;
    padding-top: 20px;
}

input.form-control{
    box-shadow: rgb(163, 163, 163) 0px 0px 3px 0.1px;
    margin:10px auto;
    width: 100% !important;
}

form.form-inline {
    margin: 9px auto;
    width: 100%;
    align-items: unset;
}

 textarea {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;

}

button.btn.btn-md.btn-success {
    width: 100%;
    background-color: #11b58b;
    border: none;
    margin-top: 20px;
    font-weight: 800;
}

.btn2 {
    width: 65%;
    background-color: #10b58c;
    color: #fff;
    border: none;
    margin-top: 20px;
    float: right;
    font-weight: 800;
    margin-right: 58px;
}

.btn3{
    width: 100%;
    background-color: #10b58c;
    border: none;
    margin-top: 20px;
    font-weight: 800;
    color:#fff;
}

.btn-cancelar{
    width: 100%;
    background-color: transparent;
    border: none;
    margin-top: 20px;
    font-weight: 800;
    color:#737272;

}

div.square {
    width: 100%;
    height: 100px;
    background-color: #a7a7a7;
    margin: 10px auto;
    border-radius: 5px;    
}

div.square > p {
    line-height: 20px;
    padding-left: 40px;
    text-align: left;
    padding-top: 20px;
    padding-right: 30px;
}

div.square2 {
    width: 100%;
    height: 100px;
    background-color: #fff;
    border: 1px solid #a7a7a7;
    margin: 10px auto;
    border-radius: 5px;
}

div.square2 > p {
    line-height: 20px;
    padding-left: 40px;
    text-align: left;
    padding-top: 25px;
    padding-right: 30px;
}

/* paragrafo ( endereços cadastrados ) no terceiro quadro*/
div.container-fluid:nth-child(4) > div:nth-child(1) > div:nth-child(1) > form:nth-child(2) > div:nth-child(1) > p:nth-child(1) {
    margin-bottom: 0;
    text-align: left;
}


/* link abaixo da primeira imagem */
.underline-color{
    color: #6c6c6c;
    text-decoration: underline;
}

/* input do meio do 2º box */
.gray {
     background-color: lightgrey;
    }

h2.toggle1, h2.toggle2, h2.toggle3 {
    text-align: left;
    margin: 0 auto;
    width: 727px;
    display: block;    
    left: 113.3px;
    background-color: #fff;
    padding-left: 45px;
    font-weight: bolder;
    
}
/* ============================================== */
/* =================== MOBILE =================== */
/* ============================================== */
@media only screen and (max-width: 900px) {
    body {
        background-color: #fff;
    }

    input.form-control {
        box-shadow: rgb(163, 163, 163) 0px 0px 3px 0.1px;
        margin:10px auto;
        width: 100%;
    }

    button.btn.btn-md.btn-success {
        text-align: center;
        width: 5    0%;
        background-color: #11b58b;
        margin: 0 auto;
        border: none;
    }

    .btn2   {
        width: 100%;
        background-color: #10b58c;
        color: #fff;
        border: none;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 0;
        float: right;
    }

    label {
        float: left;
    }

    div.wedding-rings {    
        position: unset;
        display: block;
        text-align: center;
        margin: 20px auto;
    }

    .width-reduzido h2{
        top: 0;
        text-align: left !important;
        padding-left: 15px;
        font-size: 13pt;        
    }

    .width-reduzido2 {
        max-width: 727px;
        border-radius: 5px;
        
    }

    form.form-inline {
        display: block;
    }

    button.btn.btn-md.btn-success {
        width: 50%;
        background-color: #11b58b;
        border: none;
        margin-top: 20px;
        margin-bottom: 20px;
        font-weight: 800;
    }

    button.btn.btn-md.btn-danger {
        background-color: #dc702f;
        margin: 40px auto;
        width: 100%;;
        border: none;
        font-weight: 800;
    }

    .btn3{
        width: 100%;
        background-color: #10b58c;
        border: none;
        margin-top: 0px;
        font-weight: 800;
        color:#fff;
    }
    
    .btn-cancelar{
        width: 100%;
        background-color: transparent;
        border: none;
        margin-top: 20px;
        font-weight: 800;
        color:#737272;    
    }

    .col-sm-1 {
        display: none;
       }

       div.square > p {
        line-height: 20px;
        padding-left: 40px;
        text-align: left;
        padding-top: 30px;
        padding-right: 30px;
    }

    div.square2 > p {
        line-height: 20px;
        padding-left: 40px;
        text-align: left;
        padding-top: 30px;
        padding-right: 30px;
    }
      
    h2.toggle1, h2.toggle2, h2.toggle3 {
        text-align: left;
        margin: 0 auto;
        width: 100%;
        display: block;    
        left: 113.3px;
        background-color: #fff;
        padding-left: 45px;
        border-radius: 5px;
    }


}